*{
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root{
    --dark-color:#1e1e1e;
    --white-main-color:#fff;

    --darker-white-main-color:#ededec;

    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    list-style: none;
}

/* mixins */

@mixin row-aligned(){
    display: flex;
    flex-direction: row;
}

@mixin column-aligned(){
    display: flex;
    flex-direction: column;
}

body{
    background-color: var(--white-main-color);
}

.section{
    margin: 2rem auto auto 4rem;

    .container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 4rem;
    }
}

.navbar{
    background-color: var(--white-main-color);
    border-bottom: 1px solid var(--darker-white-main-color);

    .navbar-container{
        padding: 20px 15px 20px 15px;
        @include row-aligned();
        gap:80px;
        justify-content:row;
        align-items:center;

        .navbar-title-container{
            .main-title{
                color: var(--dark-main-color);
                cursor: pointer;
            }
        }

        .menu-options-container{
            .menu-list-items{
                @include row-aligned();
                align-items: center;
                gap:40px;

                .list-item{
                    a{
                        color: var(--dark-main-color);
                        cursor: pointer;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

// card global style

.item-card{
    margin-top: 30px;
    @include column-aligned();
    width:252px;
    height:fit-content;
    position: relative;
    .item-card-image-box{
        .item-card-image{
            width:250px;
            height:300px;
            border-radius:13px;
        }
        .item-card-like{
            position:absolute;
            cursor:pointer;
            top:1rem;
            left:1rem;
            width:30px;
            height:30px;
            background-color:#fcfcfb;
            border-radius:13px;
        }
    }

    .item-card-footer{
        margin-top:11px;
        @include column-aligned();

        .item-card-footer-about{
            @include row-aligned();
            justify-content: space-between;
            gap:20px;
            .item-name,.item-price{
                font-size:16px;
                align-self: center;
            }

            .item-card-price-box{
                align-items: flex-end;
                background-color:#f0f0f0;
                width:fit-content;
                height:fit-content;
                padding:4px;
                border-radius:5px;
            }
        }

        .item-card-footer-description{
            p{
                color: #a9a9a9;
            }
        }
    }
}



// item details page

.details-section{
    margin-top: 4rem;
    .details-section-container{
        @include row-aligned();
        width: 85%;
        height: 520px;

        .product-details-box{
            @include row-aligned();
            justify-content: space-between;
            gap: 4rem;
            .product-image{
                width: 500px;
                height: 520px;
                border-radius: 30px;
            }

            .product-info{
                .product-name{
                    font-size: 32px;
                }

                .product-description{
                    color: #a9a9a9;
                }

                .product-sizes{
                    margin: .7rem auto auto auto;
                    @include column-aligned();
                    gap: 5px;
                    .product-size-box{
                        margin-top: .7rem;
                        @include row-aligned();
                        gap: 30px;

                        .size-box{
                            width: 35px;
                            height: 35px;
                            border-radius: 100%;
                            outline: 1.4px solid #1e1e1e;
                            align-self: center;
                            cursor: pointer;
                            transition: all 300ms ease-out;

                            p{
                                display: flex;
                                flex-direction: column;
                                font-weight: 500;
                                align-items: center;
                                padding: 8px;
                            }
                        }

                        .size-box:hover{
                            background-color: #1e1e1e;
                            transition: all 300ms ease-in;
                            p{
                                color: #fff;
                            }
                        }
                    }
                }

                .others{
                    margin: 1rem auto 0 auto;
                    @include column-aligned();
                    gap: 5px;
                    
                    .recomendations{
                        @include row-aligned();
                        gap: 5px;
                        .product-box{
                            width: 100px;
                            height: 100px;
                            border-radius:12px;
                            outline: 1.4px solid #1e1e1e;
                            align-self: center;
                            cursor: pointer;

                            img{
                                width: 92px;
                                height: 92px;
                                border-radius: 9px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin: 4px auto;
                            }
                        }
                    }
                }

                .bottom-details{
                    margin-top: 2rem;
                    @include column-aligned();
                    align-items: flex-start;

                    .bottom-title{
                        margin-bottom: 1rem
                    }

                    .product-colors{
                    @include row-aligned();
                    gap: 15px;

                    .color-box{
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                        outline: 1.4px solid #1e1e1e;
                        border-radius: 100%;
                        background-color: var(--dark-color);
                    }

                    #beige{
                        background-color: beige;
                    }

                    #red{
                        background-color: rgb(250, 81, 81);
                    }
                }

                .product-price{
                    h3{
                        margin-top: 10px;
                        font-size: 22px;
                    }
                }

                .buy-button{
                    button{
                        margin-top: 20px;
                        padding: 20px 100px;
                        background-color: #1e1e1e;
                        color: var(--white-main-color);
                        border-radius: 60px;
                        cursor: pointer;
                    }
                }
                }
            }
        }
    }
}



@media screen and (max-width:720px) {
   .section{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
}
}