*{
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root{
    --dark-color:#1e1e1e;
    --white-main-color:#fff;

    --darker-white-main-color:#ededec;

    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    list-style: none;
}

/* mixins */

@mixin row-aligned(){
    display: flex;
    flex-direction: row;
}

@mixin column-aligned(){
    display: flex;
    flex-direction: column;
}

body{
    background-color: var(--white-main-color);
}

.section{
    margin: 8rem 9rem auto 4rem;
}

.navbar{
    background-color: var(--white-main-color);
    border-bottom: 1px solid var(--darker-white-main-color);

    .navbar-container{
        padding: 20px 15px 20px 15px;
        @include row-aligned();
        gap:80px;
        justify-content:row;
        align-items:center;

        .navbar-title-container{
            .main-title{
                color: var(--dark-main-color);
                cursor: pointer;
            }
        }

        .menu-options-container{
            .menu-list-items{
                @include row-aligned();
                align-items: center;
                gap:40px;

                .list-item{
                    a{
                        color: var(--dark-main-color);
                        cursor: pointer;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}